@media (max-width: 700px) {
    .main-view  {
        justify-content: center;
        align-items: center;
        
    }
    .page-desc  {
        padding-top: 20px;
        margin-top: 0;
        padding-top: 10px;
    }
    .text-box {
        margin-left: auto;
        margin-right: auto;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-desc  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
}

.main-view  {
    margin: auto;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #7dd9c5;
    padding-top: 50px;
    padding-left: 2%;
    overflow: auto;
  }


h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;

}

.text-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 8px;
    padding: 1%;
    background-color: #5fba96;
    margin-top: 20px;
    box-sizing: border-box;
    align-items: flex-start;
  }

.link-box   {
    background-color: #40ad82;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
}